<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>anal</string>
	<string>anus</string>
	<string>ass</string>
	<string>asshole</string>
    <string>ballgag</string>
	<string>balllicking</string>
	<string>ballsack</string>
	<string>ballsucking</string>
	<string>bangbros</string>
	<string>bareback</string>
	<string>barelylegal</string>
	<string>barenaked</string>
	<string>bdsm</string>
	<string>bestiality</string>
	<string>bigblack</string>
	<string>bigbreasts</string>
	<string>bigknockers</string>
	<string>bigtits</string>
	<string>bimbos</string>
	<string>blackcock</string>
	<string>blowjob</string>
	<string>blowyourload</string>
	<string>bondage</string>
	<string>boner</string>
	<string>boob</string>
	<string>boobs</string>
	<string>bootycall</string>
	<string>bukkake</string>
	<string>busty</string>
	<string>butt</string>
	<string>buttcheeks</string>
	<string>butthole</string>
	<string>cameltoe</string>
	<string>camgirl</string>
	<string>camslut</string>
	<string>camwhore</string>
	<string>circlejerk</string>
	<string>clit</string>
	<string>clitoris</string>
	<string>clusterfuck</string>
	<string>cock</string>
	<string>cocks</string>
	<string>coprolagnia</string>
	<string>cornhole</string>
	<string>creampie</string>
	<string>cum</string>
	<string>cumming</string>
	<string>cunnilingus</string>
	<string>cunt</string>
	<string>darkie</string>
	<string>daterape</string>
	<string>deepthroat</string>
	<string>dendrophilia</string>
	<string>dick</string>
	<string>dildo</string>
	<string>dirtypillows</string>
	<string>dirtysanchez</string>
	<string>doggiestyle</string>
	<string>doggystyle</string>
	<string>domination</string>
	<string>dominatrix</string>
	<string>doublepenetration</string>
	<string>dryhump</string>
	<string>eatmyass</string>
	<string>ejaculation</string>
	<string>erotic</string>
	<string>erotism</string>
	<string>escort</string>
	<string>ethicalslut</string>
	<string>eunuch</string>
	<string>faggot</string>
	<string>fecal</string>
	<string>felch</string>
	<string>feltch</string>
	<string>femalesquirting</string>
	<string>femdom</string>
	<string>fingerbang</string>
	<string>fingering</string>
	<string>fisting</string>
	<string>footfetish</string>
	<string>footjob</string>
	<string>fuck</string>
	<string>gangbang</string>
	<string>gaysex</string>
	<string>genitals</string>
	<string>giantcock</string>
	<string>girlontop</string>
	<string>girlsgonewild</string>
	<string>grope</string>
	<string>groupsex</string>
	<string>g-spot</string>
	<string>handjob</string>
	<string>handjob</string>
	<string>hardcore</string>
	<string>hardcore</string>
	<string>hentai</string>
	<string>homoerotic</string>
	<string>honkey</string>
	<string>hooker</string>
	<string>hotchick</string>
	<string>howtokill</string>
	<string>howtomurder</string>
	<string>hugefat</string>
	<string>humping</string>
	<string>incest</string>
	<string>intercourse</string>
	<string>jackoff</string>
	<string>jailbait</string>
	<string>jellydonut</string>
	<string>jerkoff</string>
	<string>jigaboo</string>
	<string>jizz</string>
	<string>juggs</string>
	<string>kike</string>
	<string>kinkster</string>
	<string>kinky</string>
	<string>knobbing</string>
	<string>leatherrestraint</string>
	<string>leatherstraightjacket</string>
	<string>lemonparty</string>
	<string>lolita</string>
	<string>lovemaking</string>
	<string>makemecome</string>
	<string>malesquirting</string>
	<string>masturbate</string>
	<string>menageatrois</string>
	<string>milf</string>
	<string>missionaryposition</string>
	<string>motherfucker</string>
	<string>moundofvenus</string>
	<string>mrhands</string>
	<string>muffdiver</string>
	<string>negro</string>
	<string>neonazi</string>
	<string>nigga</string>
	<string>nigger</string>
	<string>nignog</string>
	<string>nipple</string>
	<string>nipples</string>
	<string>nsfwimages</string>
	<string>nude</string>
	<string>nudity</string>
	<string>nympho</string>
	<string>nymphomania</string>
	<string>orgasm</string>
	<string>orgy</string>
	<string>paedophile</string>
	<string>panties</string>
	<string>pegging</string>
	<string>penis</string>
	<string>phonesex</string>
	<string>pieceofshit</string>
	<string>pissing</string>
	<string>playboy</string>
	<string>pleasurechest</string>
	<string>poontang</string>
	<string>punany</string>
	<string>poopchute</string>
	<string>poopchute</string>
	<string>porn</string>
	<string>porno</string>
	<string>pornography</string>
	<string>pubes</string>
    <string>pussy</string>
	<string>queaf</string>
	<string>raghead</string>
	<string>ragingboner</string>
	<string>rape</string>
	<string>raping</string>
	<string>rapist</string>
	<string>rectum</string>
	<string>reversecowgirl</string>
	<string>rimjob</string>
	<string>rimming</string>
	<string>rosypalm</string>
	<string>rustytrombone</string>
	<string>sadism</string>
	<string>santorum</string>
	<string>scissoring</string>
	<string>semen</string>
	<string>sex</string>
	<string>sexo</string>
	<string>shavedpussy</string>
	<string>shemale</string>
	<string>shibari</string>
	<string>slut</string>
	<string>spreadlegs</string>
	<string>strapon</string>
	<string>strappado</string>
	<string>stripclub</string>
	<string>suck</string>
	<string>sucks</string>
	<string>suicidegirls</string>
	<string>sultrywomen</string>
	<string>swastika</string>
	<string>swinger</string>
	<string>taintedlove</string>
	<string>tastemy</string>
	<string>teabagging</string>
	<string>threesome</string>
	<string>throating</string>
	<string>tit</string>
	<string>tits</string>
	<string>titties</string>
	<string>titty</string>
	<string>topless</string>
	<string>tranny</string>
	<string>tubgirl</string>
	<string>tushy</string>
	<string>twat</string>
	<string>twinkie</string>
	<string>undressing</string>
	<string>upskirt</string>
	<string>urethraplay</string>
	<string>vagina</string>
	<string>vibrator</string>
	<string>voyeur</string>
	<string>vulva</string>
	<string>wank</string>
	<string>wetback</string>
	<string>wetdream</string>
</array>
</plist>
